
{% extends 'Header.html' %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<form id="contact_form" action="{% url 'thankyou' %}" style= "width: 40%; margin: auto; padding-top: 50px;" method='POST'>{% csrf_token %}
  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input name ="userName" type="name" class="form-control" id="exampleFormControlInput1" placeholder="Name" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email</label>
    <input name ="userEmail" type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Phone Number (Optional)</label>
    <input name ="userPhone" type="phone" class="form-control" id="exampleFormControlInput3" placeholder="Phone">
  </div>
  <div class="form-group">
    <label>Message</label>
    <textarea name ="userMesaage" class="form-control" id="exampleFormControlTextarea3" rows="3" required></textarea>
  </div>
  <div style = "text-align: center;">
    <button type="submit" class="btn btn-success" id="submitButton">Submit</button>
  </div>
</form>

<div class="dvInsideTL" id="loader">
  <div style="width:70px;height:70px;" class="spinner-border text-primary" role="status">
  </div>
</div>

<style>
.dvInsideTL {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  align-items:center;
  justify-content: center;
  display:flex; 
}
</style>

<script>
$("#loader").hide();
$(document).ready(function() {
$("#contact_form").submit(
  function() {
    $("#loader").show();
  }
);
});
</script>

{% endblock content %}
