<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Chaman Sharma</title>
    <style> 

.tab-content{
    color:#fff;
    padding:5px
}
.nav-tabs > a{
    color: #0088cc;
}
    </style>
  </head>
  <body>

  <div style="padding: 20px; background-color: #0088cc;"><h1 style="color: White; font-family:helvetica;">CHAMAN SHARMA </h1> </div>
     <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link {{ home_page }}" id="nav-home-tab" href="{% url 'home' %}" role="tab" aria-controls="nav-home" aria-selected="true" >Home</a>
    <a class="nav-item nav-link {{ blog_page }}" id="nav-profile-tab" href = "{% url 'blog' %}" role="tab" aria-controls="nav-profile" aria-selected="false">Blogs</a>
        <a class="nav-item nav-link {{ project_page }}" id="nav-project-tab" href = "{% url 'project' %}" role="tab" aria-controls="nav-contact" aria-selected="false">Projects</a>
                <a class="nav-item nav-link {{ about_page }}" id="nav-about-tab"  href = "{% url 'about' %}" role="tab" aria-controls="nav-contact" aria-selected="false">About Me</a>
    <a class="nav-item nav-link {{ contact_page }}" id="nav-contact-tab" href="{% url 'contactUs' %}" role="tab" aria-controls="nav-contact" aria-selected="false">Contact Me</a>
  </div>
</nav>
 {% block content %}

        {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>