{% extends 'Header.html' %}

{
{% block content %}
<div style="padding:50;">
  <div id="container" class="clear">
    <div id="about-us" class="clear">
      <section id="about-intro" class="clear">
        <img src="https://chamaniosapp.s3.ap-south-1.amazonaws.com/project.jpg"  style="width:100%;height:100%;">
      </section>
    </div>
  </div>
</div>
{% endblock content %} 