{% extends 'Header.html' %}

{% block content %}

<!DOCTYPE html> 
<html>
<head>
	<title>Thank you!</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="generator" content="TSW WebCoder">
</head>
<body>
    <div class="part-five part-four" id="Get-Started" style = "position: absolute;
  top: 50%; text-align: center;  width: 100%;">
        <h1>Thank you for reaching out to us.</h2>
    </div>
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
        setTimeout(function () {
            window.location.replace("{% url 'contactUs' %}"); //will redirect to main page (index.html)
        }, 3000); //will call the function after 3 secs.
    </script>   
</body>
</html>

{% endblock content %} 